In [16]:
# Python program to represent certain data in a tabular format.

# Girls table

Girls_table = {'Names':['Evelyn', 'Jessica', 'Somto', 'Edith', 'Liza', 'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa'],
               'Age':[17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
               'Height':[5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
               'Scores':[80, 85, 70, 60, 76, 66, 87, 95, 50, 49]
              }

# Boys table

Boys_table = {'Names':['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley'],
              'Age': [19,16,18,17,20,19,16,18,17,19],
              'Height':[5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7],
              'Scores':[74,87,75,68,66,78,87,98,54,60]
             }

for i in range(10):
    value = list(Boys_table.values())
    print(f"{value[0][i]} | {value[1][i]} | {value[2][i]} | {value[3][i]}")

for j in range(10):
    value = list(Girls_table.values())
    print(f"{value[0][j]} | {value[1][j]} | {value[2][j]} | {value[3][j]}")

Chinedu | 19 | 5.7 | 74
Liam | 16 | 5.9 | 87
Wale | 18 | 5.8 | 75
Gbenga | 17 | 6.1 | 68
Abiola | 20 | 5.9 | 66
Kola | 19 | 5.5 | 78
Kunle | 16 | 6.1 | 87
George | 18 | 5.4 | 98
Thomas | 17 | 5.8 | 54
Wesley | 19 | 5.7 | 60
Evelyn | 17 | 5.5 | 80
Jessica | 16 | 6.0 | 85
Somto | 17 | 5.4 | 70
Edith | 18 | 5.9 | 60
Liza | 16 | 5.6 | 76
Madonna | 18 | 5.5 | 66
Waje | 17 | 6.1 | 87
Tola | 20 | 6.0 | 95
Aisha | 19 | 5.7 | 50
Latifa | 17 | 5.5 | 49