In [3]:
# Define the data for girls
girls_data = {
    'Name': ['Evelyn', 'Jessica', 'Somto', 'Edith', 'Liza', 'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa'],
    'Age': [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    'Height': [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    'Score': [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]
}

# Define the data for boys
boys_data = {
    'Name': ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley'],
    'Age': [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    'Height': [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    'Score': [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]
}

# Function to print data in tabular format
def print_table(data):
    headers = ['Name', 'Age', 'Height', 'Score']
    header_row = '|'.join(headers)
    print(header_row)
    print('-' * len(header_row))
    for item in data:
        row = '|'.join(str(data[item][key]) for key in headers)
        print(row)

# Display the data for girls
print("Girls:")
print_table(girls_data)

# Display the data for boys
print("\nBoys:")
print_table(boys_data)

Girls:
Name|Age|Height|Score
---------------------

TypeError: list indices must be integers or slices, not str

In [4]:
# Define the data for girls
girls_data = {
    'Name': ['Evelyn', 'Jessica', 'Somto', 'Edith', 'Liza', 'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa'],
    'Age': [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    'Height': [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    'Score': [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]
}

# Define the data for boys
boys_data = {
    'Name': ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley'],
    'Age': [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    'Height': [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    'Score': [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]
}

# Function to print data in tabular format
def print_table(data):
    headers = ['Name', 'Age', 'Height', 'Score']
    header_row = '|'.join(headers)
    print(header_row)
    print('-' * len(header_row))
    for item in data:
        row = '|'.join(str(data[item][key]) for key in headers)
        print(row)

# Display the data for girls
print("Girls:")
print_table(girls_data)

# Display the data for boys
print("\nBoys:")
print_table(boys_data)

Girls:
Name|Age|Height|Score
---------------------

TypeError: list indices must be integers or slices, not str